{% extends beelab_user_layout %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'User'}, 'admin') }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ '%entity% creation'|trans({'%entity%': 'User'}, 'admin') }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" type="submit">{{ 'Create'|trans({}, 'admin') }}</button>
        </p>
    {{ form_end(form) }}

    <div class="btn-group record_actions">
        <a class="btn btn-info" href="{{ path('user') }}">
            <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
        </a>
    </div>
{% endblock %}
