{% extends "BeelabUserBundle::layout.html.twig" %}

{% block title %}Change Password{% endblock %}

{% block body %}

    <h1>Change Password</h1>

    <form action="{{ path('user_password') }}" method="post">
        {{ form_row(form.plainPassword) }}
        <p>
            <button class="btn btn-primary" type="submit"><i class="fa fa-edit"></i> Change</button>
        </p>
        {{ form_rest(form) }}
    </form>

    <div class="btn-group record_actions">
        <a class="btn btn-info" href="{{ path('user') }}">
            <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
        </a>
    </div>

{% endblock %}
