{% extends beelab_user_layout %}

{% block title %}{{ 'Change Password'|trans({}, 'admin') }} - {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ 'Change Password'|trans({}, 'admin') }}</h1>

    <form action="{{ path('user_password') }}" method="post">
        {{ form_row(form.plainPassword) }}
        <p>
            <button class="btn btn-primary" type="submit"><i class="fa fa-edit"></i> {{ 'Change'|trans({}, 'admin') }}</button>
        </p>
        {{ form_rest(form) }}
    </form>

{% endblock %}
